<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/heads') %>
        <title>Add New Blog</title>
        <!-- EasyMDE Markdown Editor -->
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-3">
            <div class="editor-container">
                <form action="/blog" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="coverImage" class="form-label">Cover Image</label>
                        <input type="file" class="form-control" id="coverImage" name="coverImage"
                            aria-describedby="coverImageHelp">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp">
                    </div>
                    <div class="mb-3">
                        <label for="body">Body</label>
                        <textarea class="form-control" id="body" name="body"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('./partials/scripts') %>
            <script>
                const easyMDE = new EasyMDE({ element: document.getElementById('body') });
            </script>
</body>

</html>